@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .clip-angled {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  .clip-angled-reverse {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }

  .clip-angled-both {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
}
